/* font utilizzate  */

/* .edu-tas-beginner-<uniquifier > {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .sometype-mono-<uniquifier> {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

/* header  */

header {
  text-align: center;
  background-image: url(../img/wall.png);
  height: 100px;
}

header h1 {
  font-size: 70px;
  padding: 5px;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* main  */

main {
  background-image: url(../img/cork.png);
  height: 100vh;
}
