/* font utilizzate  */

/* .edu-tas-beginner-<uniquifier > {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .sometype-mono-<uniquifier> {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

/* utilitis  */

img {
}

/* header  */

header {
  text-align: center;
  background-image: url(../img/wall.png);
  height: 100px;
}

header h1 {
  font-size: 70px;
  padding: 5px;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* main  */

main {
  background-image: url(../img/cork.png);
  min-height: 100vh;
}

/* card  */

.postcard {
  background-color: white;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cardhead {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.cardhead > img {
  width: 100%;
}

.cardmain {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: oblique;
}

.pin {
  position: absolute;

  left: 130px;
  inset-block-start: -15px;
  height: 9%;
}
