/* font utilizzate  */

/* .edu-tas-beginner-<uniquifier > {
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* .sometype-mono-<uniquifier> {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */

/* utilitis  */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}

/* header  */

header {
  text-align: center;
  background-image: url(../img/wall.png);
  height: 100px;
}

header h1 {
  font-size: 70px;
  padding: 5px;
  font-family: "Edu TAS Beginner", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* main  */

main {
  background-image: url(../img/cork.png);
  min-height: 100vh;
}

/* card  */

.postcard {
  background-color: white;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: transform 0.7s ease-in-out;
}
/* hover per card  */
.postcard:hover {
  transform: rotate(90deg);
  z-index: 10;
}
/* hover per card  */

.cardhead {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.cardhead > img {
  width: 100%;
}

.cardmain {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: oblique;
}

.pin {
  position: absolute;
  width: 10%;
  top: -15px;
  right: 46%;
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  padding: 100px;
  text-align: center;
}

.overlay img {
  max-width: 500px;
}
